ion-card {
    padding: 1rem;
    color: black;
    font-size: 17px;
}

.messages {
    position: fixed;
    top: 0;
    width: 95%;
    height: calc(100% - 6rem);
    overflow: auto;
}

.sendForm {
    position: fixed;
    bottom: 2rem;
    display: flex;
    align-items: stretch;
    width: 95%;
}

ion-input {
    flex: 1;
    border: 1px solid #666;
}
