<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
          <ion-button icon-only (click)="back()">
              <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title>
        Chat
      </ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content padding>
  <div #msgs class="messages">
    <ion-card *ngFor="let m of messages">from: {{m.name}} message: {{m.text}}</ion-card>
  </div>
  <form class="sendForm" [formGroup]="myForm">
    <ion-input placeholder="Type message..." type="text" formControlName="msg"></ion-input>
    <ion-button (click)="send()">send</ion-button>
  </form>
</ion-content>
